*{
    margin:0;
    padding:0;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding:10px;
    display:flex;
    gap:10px;
    justify-content:space-between;
    border-bottom:solid black 1px;
    align-items:center;
    position:sticky;
    top:0;
    background-color: white;
    z-index:1;
}
.navbar__s1__title{
    color:#A435F0;
}
.navbar__s2{
    padding:10px;
    border:1px solid black;
    border-radius:30px;
    width:60%;
    display:flex;
    gap:10px;
    align-items:center;
    
}
.navbar__s2 input{
    border:none;
    width:100%;
    font-size:16px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline:none;
}
.navbar__s3{
    display:flex;
    gap:10px;
    align-items:center;
}
.navbar__s4{
    display:none;
}

/* My Learning Popup */
.mylearning{
    position:relative;
    cursor: pointer;
}
.mylearning__popup{
    position:absolute;
    background-color: black;
    border:1px solid white;
    border-radius:10px;
    width:100px;
    top:150%;
    padding:20px;
    right:0;
    display:none;
}
.mylearning:hover .mylearning__popup{
    display:block;
    color:white;

}

.categories{
    display:flex;
    padding:10px;
    border-bottom:1px solid black;
    justify-content:space-around;
}
.categories p{
    background-color: #A435F0;
    color:white;
    padding:10px;
    border-radius:30px;
    cursor:pointer;
    border:1px solid #A435F0;
}
.categories p:hover{
    transition:1s;
    background-color:transparent;
    color:black;
    border:1px solid #A435F0;
}

.sale-img{
    position:relative;
}
.sale-img img{
    width:100%;
}
.sale-image__offer{
    background-color:burlywood;
    color:black;
    border:2px solid black;
    width:35%;
    padding:2%;
    position:absolute;
    top:10%;
    left:10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity:0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0%{
        transform:scale(0);
        opacity:0;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}

.recommended{
    padding:10px;
}
.recommended-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:10px;
}
.course-card{

    flex-grow:1;
    flex-basis:20%;
    margin:5px;
}
.course-card img{
    height:60%;
    width:100%;
}
.topic{
    padding:10px;
}
.topic__container{
    display:flex;
    gap:10px;
    margin-top:10px;
    flex-wrap:wrap;
    
}
.topic__container p{
    border:2px solid gray;
    padding:10px;
    flex-grow:1;
    flex-basis:25%;
   
}



.popular{
    padding:10px;
}

.popular__container{
    padding:10px;
    display:flex;
    flex-wrap:wrap;
    margin-top:10px;
    justify-content:space-between;
}

.footer{
    padding:30px;
    background-color:black;
    color:white;
}
.footer__one{
    display:flex;
    gap:10px;
}
.footer__one p{
    margin:20px;
}
.footer__two{
    margin:20px;
    align-items:center;
    display:flex;
    justify-content:space-between;
}


/* media queries */
@media screen and (max-width:800px){
    body{
        font-size:10px;
    }
}

@media screen and (max-width:600px){
    .course-card{
        flex-basis:40%;
    }
    .categories{
        display:none;
    }
    .navbar__s2,.navbar__s3{
        display:none;
    }
    .navbar__s4{
        display:block;
    }
}
